<div class="login-container">
  <img src="assets/Images/logo.png" alt="Company Logo" style="width: 100px; margin-bottom: 10px; color: black;">

  <div class="login-card card">
    <!-- Card Header with Logo and Title -->
    <div class="card-header text-center">
      <h3>Login</h3>
    </div>

    <div class="card-body">
       <!-- Error Message Display -->
       <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
      <form>
        <!-- Username Input -->
        <div class="form-group">
          <label for="username" style="font-weight: 600;">Username</label>
          <input type="text" 
                 #employeeCodeInput 
                 id="employeeCode" 
                 [(ngModel)]="employeeCode" 
                 class="form-control mt-2" 
                 placeholder="Enter username" 
                 [ngModelOptions]="{standalone: true}" 
                 required>
        </div>

        <!-- Password Input -->
        <div class="form-group mt-4">
          <label for="password" style="font-weight: 600;">Password</label>
          <input type="password"  
                 #passwordInput 
                 id="password" 
                 [(ngModel)]="password" 
                 class="form-control mt-2" 
                 placeholder="Enter password" 
                 [ngModelOptions]="{standalone: true}"
                 required>
        </div>
        <!-- Forgot Password Link -->
        <div class="text-right mt-2">
          <a href="#" class="forgot-password">Forgot Password?</a>
        </div>

        <!-- CAPTCHA Section -->
        <div class="mb-3">
          <div 
            style="background: url('assets/Images/bg4.jpg') center center no-repeat; 
            margin: 43px; background-size: cover; border-block: ridge;">
            <span id="captcha" class="d-flex justify-content-center align-items-center"></span>
          </div>
        </div>

       

        <input 
  #captchaCodeInput 
  id="captchaCode"  
  type="text" 
  class="input form-control" 
  style="margin-top: 21px;" 
  placeholder="Enter Captcha" 
  autocomplete="off"
/>
       

        <!-- Login Button -->
        <div class="text-center mt-4">
          <button type="button" class="btn btn-primary" (click)="onLogin()">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>
