<div class="card mt-4">
  <div class="card-header" style="background: linear-gradient(90deg, #001f3f, #007bff); color: white;">
    <h4 style="font-size: 18px;">Branch Actions</h4>
  </div>
  <div class="card-body">
    <div class="row">
      <!-- Rent Master Select -->
      <div class="col-md-2">
        <label for="rentMaster">Rent Master</label>
        <select class="form-control" id="rentMaster">
          <option *ngFor="let option of rentMasterOptions" [value]="option.RentID">
            {{ option.LandLordName }}
          </option>
        </select>
      </div>
      
      <!-- Month Select -->
      <div class="col-md-2">
        <label for="date">Date</label>
        <input type="date" class="form-control" id="date" placeholder="Choose a date">
      </div>
      
      <!-- Actions Select -->
     <div class="col-md-2">
      <label for="action">Action</label>
      <select class="form-control" id="action">
        <option *ngFor="let action of actionOptions" [value]="action.Code">
          {{ action.Name }}
        </option>
      </select>
    </div>
      
      <!-- Save Button -->
      <div class="col-md-2 text-center mt-4">
        <button class="btn btn-primary"  (click)="onSelectionChange()">Save</button>
      </div>
    </div>
    
    <!-- DataTable -->
    <div class="row mt-4">
      <div class="col-md-12">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Branch</th>
              <th>Year/Month</th>
              <th>Remark</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let option of rentOptions">
              <td>{{ option.Branch }}</td>
              <td>{{ option.YearMonth }}</td>
              <td>{{ option.Name }}</td>
              <td class="text-center">
                <button (click)="deleteRentOption(option.ID)">Delete</button> <!-- Delete button passes the ID -->

                <button class="btn btn-success btn-sm ms-2">
                  Release
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
