<div class="header-container">
  <!-- Logo on the left -->
  <div class="logo-container">
    <img src="assets/Images/logo.png" alt="Company Logo" class="logo" />
  </div>

  <!-- Heading in the center -->
  <div class="heading-container">
    <h1 style="    font-size: 25px;">Rent Management</h1>
  </div>

  <!-- Logout Icon on the right -->
  <div class="logout-container">
    <button class="logout-btn" (click)="logout()">
      <i class="fas fa-sign-out-alt" title="Logout"></i>
    </button>
  </div>
</div>
