.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: linear-gradient(90deg, #001f3f, #007bff); /* Navy to blue gradient */
  color: white;
}

.logo-container {
  flex: 1;
  text-align: left;
}

.heading-container {
  flex: 2;
  text-align: center;
  font-size: x-large;
}

.logout-container {
  flex: 1;
  text-align: right;
}

.logo {
  max-height: 50px; /* Adjust logo size */
}

.logout-btn {
  background-color: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
  color: white;
}

.logout-btn i {
  margin-right: 5px;
}
