<div class="header-container" style="      background: linear-gradient(90deg, #001f3f, #007bff); /* Navy to blue gradient */
color: white;">
  <!-- Logo on the left -->
  <div class="logo-container">
  </div>

  <!-- Heading in the center -->
  <div class="heading-container">
      <h1 style="font-size: x-large;">Rent Management</h1>
  </div>

  <!-- Logout Icon on the right -->
  <div class="logout-container">
    <button class="logout-btn">
        <i class="fas fa-sign-out-alt" (click)="logout()" title="Logout" style="color: white;"></i>    </button>
</div>
</div>
