<!-- Create Rent Agreement Card -->
<div class="card col-md-8 create-rent-card" style="    padding: 20px;
    width: 100%;" *ngIf="showCreateRentAgreement">
  <div class="card-header d-flex justify-content-between align-items-center" style="background: linear-gradient(90deg, #001f3f, #007bff); color: white;">
    <h5>Create Rent Agreement</h5>
    <!-- <button class="btn btn-link" (click)="onCancel()">
      <i class="fas fa-times" style="color: white;"></i>
    </button>  -->
   </div>

  <div class="card-body">
    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <label for="bank" style="font-weight: bold">Bank *</label>
          <select id="bank" class="form-control" [(ngModel)]="formFields['bank']" (change)="onDropdownChange('bank', formFields['bank']) " required>
            <option value="">Select Bank</option>
            <option *ngFor="let bank of banks" [value]="bank.BankCode">{{ bank.BankName }}</option>
        </select>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="state" style="font-weight: bold">State *</label>
          <select id="state" class="form-control" [(ngModel)]="formFields['state']" (change)="onStateChange($event)" required>
            <option value="">Select State</option>
            <option *ngFor="let state of states" [value]="state.stateCode">{{ state.stateName }}</option>
          </select>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="district" style="font-weight: bold">District *</label>
          <select id="area" class="form-control" [(ngModel)]="formFields['district']" (change)="onAreaChange($event)" required>
            <option value="">Select Area</option>
            <option *ngFor="let area of areas" [value]="area.areaCode">{{ area.areaName }}</option>
          </select>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="branch" style="font-weight: bold">Branch *</label>
          <select id="branch" class="form-control" [(ngModel)]="formFields['branch']" required>
            <option value="">Select Branch</option>
            <option *ngFor="let branch of branches" [value]="branch.branchCode">{{ branch.branchName }}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
     
    
      <div class="col-md-3">
        <div class="form-group">
          <label for="landlordName" style="font-weight: bold">Landlord Name *</label>
          <input type="text" id="landlordName" class="form-control" [(ngModel)]="formFields['landlordName']" required />
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="landlordEmail" style="font-weight: bold">Landlord Email *</label>
          <input type="email" id="landlordEmail" class="form-control" [(ngModel)]="formFields['landlordEmail']" required />
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="accountNo" style="font-weight: bold">Landlord Account No *</label>
          <input type="text" id="accountNo" class="form-control" [(ngModel)]="formFields['accountNo']" required />
        </div>
      </div>

      <div class="col-md-3">
        <div class="form-group">
          <label for="confirmAccountNo" style="font-weight: bold">Confirm Account No *</label>
          <input type="text" id="confirmAccountNo" class="form-control" [(ngModel)]="formFields['confirmAccountNo']" required />
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <label for="landlordMobile" style="font-weight: bold">Landlord Mobile No *</label>
          <input type="tel" id="landlordMobile" class="form-control" [(ngModel)]="formFields['landlordMobile']" required/>
        </div>
      </div>

      <div class="col-md-3">
        <div class="form-group">
          <label for="ifscCode" style="font-weight: bold">Landlord IFSC Code *</label>
          <input type="text" id="ifscCode" class="form-control" [(ngModel)]="formFields['ifscCode']" required />
        </div>
      </div>

      <div class="col-md-3">
        <div class="form-group">
          <label for="depositAmount" style="font-weight: bold">Deposit Amount *</label>
          <input type="text" id="depositAmount" class="form-control" [(ngModel)]="formFields['depositAmount']" required/>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="utrReferenceNo" style="font-weight: bold">Deposit Amt UTR Reference No *</label>
          <input type="text" id="utrReferenceNo" class="form-control" [(ngModel)]="formFields['utrReferenceNo']" required />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <label for="depositDate" style="font-weight: bold">Deposit Date *</label>
          <input type="date" id="depositDate" class="form-control" [(ngModel)]="formFields['depositDate']" required />
        </div>
      </div>

      <div class="col-md-9">
        <div class="form-group">
          <label for="remark" style="font-weight: bold">Remark</label>
          <textarea id="remark" class="form-control" [(ngModel)]="formFields['remark']" required></textarea>
        </div>
      </div>
    </div>
   

    <div class="row d-flex align-items-center mt-3">
      <div class="col-md-6">
        <input type="file" id="fileUpload" (change)="onFileChange($event)" class="form-control" [(ngModel)]="formFields['filepath']" style="background: linear-gradient(90deg, #001f3f, #007bff); color: white;" multiple />
        <div *ngIf="fileNames.length > 0" class="d-flex flex-column align-items-start mt-2">
          <div *ngFor="let fileName of fileNames; let i = index" class="d-flex align-items-center">
            <a href="#" (click)="previewFile(i, $event)" style="color: rgb(1, 1, 1); text-decoration: underline; margin-right: 10px;">
              {{ fileName }}
            </a>
            <span (click)="removeFile(i)" class="remove-file-icon" aria-label="Remove file" style="cursor: pointer;">&#10006;</span>
          </div>
        </div>
      </div>

<div class="col-md-6 text-right">
  <div class="btn-group" style="margin-left: auto;">
    <button class="btn btn-primary" (click)="onCreate()" *ngIf="isButtonVisiblecreate">
      Create
    </button>
    <button class="btn btn-primary" *ngIf="isButtonVisible">
      Update
    </button>
    &nbsp;
    <button 
      class="btn" 
      style="background-color: rgb(246, 43, 43); color: white;" 
      (click)="closeBranchs()" 
      *ngIf="isButtonVisiblecreate"
    >
      Close Branch
    </button>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="filePreviewModal" tabindex="-1" role="dialog" aria-labelledby="filePreviewLabel" aria-hidden="true" >
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title mb-0" id="filePreviewLabel">File Preview</h5>
        <button type="button" (click)="closeModal()" class="close ml-auto" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Bind the sanitized fileURL to the iframe src using [src] -->
        <iframe *ngIf="fileURL" [src]="fileURL" width="100%" height="600px"></iframe>
      </div>
    </div>
  </div>
</div>



    
  </div>
  <hr *ngIf="this.isButtonVisible"/>
      <!-- Buttons row for Add and Update Rent Details -->
      <div class="row d-flex justify-content-center" *ngIf="this.isButtonVisible">
        <div class="col-md-6 text-center">
          <button class="btn btn-gradient mr-3" (click)="onAddRentDetails()" style="background: linear-gradient(45deg, #e0eafc, #cfdef3); color: black;">
            Add Rent Details
          </button>
          
        </div>
      </div>
      <table class="table table-bordered table-striped mt-4" *ngIf="this.isButtonVisible">
        <thead class="thead-dark">
          <tr>
            <th scope="col">From Date</th>
            <th scope="col">To Date</th>
            <th scope="col">Rent Amount</th>
            <th scope="col">Update</th> 
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of rentData">
            <td>{{ item.FromDate }}</td>
            <td>{{ item.ToDate }}</td>
            <td>{{ item.rentAmnt }}</td>
            <td><button class="btn btn-sm btn-primary"><i class="fas fa-pen"></i></button></td>
          </tr>
         
        </tbody>
      </table>
      </div>

<!-- Rent Details Section -->
<div *ngIf="showRentDetails" class="card col-md-8 create-rent-card" style="    margin: auto;
padding: 20px;
position: absolute;
top: 3%;
left: 39%;
transform: translateX(-50%);
width: auto;">
  <div class="card-header d-flex justify-content-between align-items-center" style="background: linear-gradient(90deg, #001f3f, #007bff); color: white;">
    <h5>Rent Details</h5>
  </div>

  <div class="card-body">
    <div class="row">
      <!-- From Date -->
      <label for="fromDate">From Date</label>
      <div class="col-md-12">
               <input type="date" id="fromDate" class="form-control" [(ngModel)]="formFields['fromDate']" required />
      </div>
    </div>
    
    <!-- To Date -->
    <div class="row">
      <label for="toDate">To Date</label>
      <div class="col-md-12">
        <input type="date" id="toDate" class="form-control" [(ngModel)]="formFields['toDate']" required />
      </div>
    </div>
    
    <!-- Total Rent Amount -->
    <div class="row">
      <label for="totalRentAmount">Total Rent Amount</label>
      <div class="col-md-12">
          <input type="text" id="rentAmnt" class="form-control" [(ngModel)]="formFields['rentAmnt']" required />
      </div>
    </div>

    <!-- Buttons -->
    <div class="d-flex mt-3">
      <button class="btn btn-secondary mr-2" (click)="cancelRentDetails()">Cancel</button>
      <button class="btn btn-primary" (click)="btnSaveRentPopupData()">Submit</button>
    </div>
  </div>
</div>
<!-- Rent Details Section -->
<div *ngIf="closeBranch" class="card col-md-8 create-rent-card" style="    margin: auto;
padding: 20px;
position: absolute;
top: 33%;
left: 36%;
transform: translateX(-50%);
width: auto;
">
  <div class="card-header d-flex justify-content-between align-items-center" style="background: linear-gradient(90deg, #001f3f, #007bff); color: white;">
    <h6>Close Branch</h6>
  </div>

  <div class="card-body">
    <div class="row">
      <!-- From Date -->
      <label for="closingDate">Closing Date</label>

      <div class="col-md-12">
        <input #dateInput type="date" class="form-control" id="closingDate" [(ngModel)]="formFields['closingDate']"/>

      </div>
    </div>
    

    <!-- Buttons -->
    <div class="d-flex mt-3">
      <button class="btn btn-secondary mr-2" (click)="closeBranchfun()">Cancel</button> &nbsp;
     
<button class="btn btn-primary" (click)="savebranchstatus()">Submit Rent Details</button>
          </div>
  </div>
</div>

